#Entornos virtuales
venv/
.env/
.venv/
buscaminas_python/

#Archivos de Python compilados
pycache/
*.py[cod]
*$py.class

#Archivos de log y bases de datos
*.log
*.sqlite3

#Archivos del sistema
.DS_Store
Thumbs.db

#Configs de editores
.vscode/
.idea/

#Dependencias
*.egg-info/
dist/
build/

#Archivo de configuración local
.env
